/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Crimson Pro", sans-serif;
  font-size: 18px;
  background-color: rgb(248, 240, 240);
  background-image: url("img/logo/Logo\ 3.png");
  background-size: 198.5px;
}

/* ================= HEADER ================= */
/*Topnav*/
.header-nav {
  background-color: #ffdd9d;
  height: 200px;
  position: relative;
}
/*Logo*/
.logo img {
  max-width: 300px;
  height: auto;
  position: absolute;
  top: 20px;
  left: 20px;
}

/* Design af menu */
.box {
  width: 120px; /* boksens bredde */
  height: 120px; /* boksens højde */
  background: steelblue; /* farve på boksen */
  transition: transform 0.5s; /* gør animationen glidende */
}
/*hamburger + luk  knap*/
#menuBtn {
  padding: 10px 16px;
  margin: 20px;
  cursor: pointer;
  background-color: #ffdd9d;
  position: absolute;
  right: 50px;
  top: 50px;
  border-style: none;
}
#closeBtn {
  padding: 10px 16px;
  margin: 20px;
  cursor: pointer;
  background-color: #21369c;
  color: white;
  font-size: 45px;
  position: absolute;
  right: 30px;
  top: 15px;
  border-style: none;
}
/*Hamburger knap*/
.burger {
  width: 35px;
  height: 5px;
  background-color: #21369c;
  margin: 6px 0;
}

/*Offcanvas menu - rykket til højre*/
.offcanvas {
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  height: 100vh;
  background: #21369c;
  color: white;
  padding: 20px;
  box-sizing: border-box;

  transform: translateX(100%);
  transition: transform 0.3s ease;
}
/*Aktiverer menuen*/
.offcanvas.open {
  transform: translateX(0);
}
/*Menu indhold*/
.offcanvas ul {
  list-style: none;
  padding: 0;
  margin-top: 100px;
  font-size: 50px;
}
/*Afstand mellem menu punkter*/
.offcanvas li {
  margin-bottom: 50px;
}
/*Menupunkter tekst*/
.offcanvas a {
  color: white;
  text-decoration: none;
}
/*Overlay, når menuen er aktiv*/
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);

  display: none;

  justify-content: center;
  align-items: center;
}
/* når overlayet er aktivt */
.overlay.show {
  display: flex;
}
.offcanvas {
  z-index: 1000;
}

.overlay {
  z-index: 999;
}

/* ================= LAYOUT ================= */

/* Hele siden opdelt i 2 kolonner */
.page-layout {
  display: grid;
  grid-template-columns: 75% 25%;
  margin-top: 200px; /* under header */
  min-height: 100vh;
}

/* VENSTRE SIDE */
.left-content {
  background-color: rgb(248, 240, 240);
  padding: 20px;
}

/* HØJRE SIDE */
.right-content {
  background-color: #e9e5dc;
  padding: 20px;
  position: relative;
}

/* ================= SHOP INDHOLD ================= */

.shop-indhold {
  display: grid;
  gap: 20px;
  width: 100%;
  grid-template-areas:
    "header1 header1 header1"
    "prod-head1 prod-head2 prod-head3"
    "prod-photo1 prod-photo2 prod-photo3"
    "prod-tekst1 prod-tekst2 prod-tekst3";
}
.shop-header {
  grid-area: header1;
}
.prod-header1 {
  grid-area: prod-head1;
}
.prod-header2 {
  grid-area: prod-head2;
}
.prod-header3 {
  grid-area: prod-head3;
}
.prod-photo1 {
  grid-area: prod-photo1;
}
.prod-photo2 {
  grid-area: prod-photo2;
}
.prod-photo3 {
  grid-area: prod-photo3;
}
.prod-tekst1 {
  grid-area: prod-tekst1;
}
.prod-tekst2 {
  grid-area: prod-tekst2;
}
.prod-tekst2 {
  grid-area: prod-tekst2;
}

.shop-indhold h1 {
  text-align: center;
  color: #21369c;
  margin-bottom: 20px;
}

.shop-indhold img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.shop-indhold p {
  font-style: italic;
}

/* ================= PRODUCTS ================= */

.products {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.item-container {
  background-color: #21369c;
  border-radius: 10px;
  overflow: hidden;
  color: white;
  position: relative;
  width: 600px;
}

.item-img {
  background: white;
}

.item-img img {
  max-width: 100%;
}

.desc {
  padding: 10px;
  text-align: center;
}

.add-to-cart {
  position: absolute;
  top: 70px;
  right: 10px;
  background: orange;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

/* ================= RIGHT SIDE ================= */
.right-content {
  position: sticky;
  top: 0;
  height: 100vh;
}
/* Shopping bag */
.shopping-bag {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.shopping-bag a {
  display: flex;
  align-items: center;
  gap: 10px;
}
.shopping-bag p {
  font-size: 18px;
}
.total-items-in-cart {
  background: orange;
  padding: 5px;
  border-radius: 5px;
  font-size: 18px;
}

/* CART */
.cart {
  position: sticky;
  top: 220px;
  width: 100%;
}

.cart-items {
  min-height: 150px;
}

.cart-footer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subtotal {
  background: white;
  padding: 10px;
  text-align: center;
}

.checkout {
  background: #ffa500;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.header-fra-tutorial {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 10px;
}
.item-info img {
  max-width: 50%;
}
.cart-item .item-info {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.6);

  border-radius: 0 10px 10px 0;

  padding: 10px;
}
.cart-item .item-info:hover {
  background-color: rgba(255, 0, 0, 0.6);
  cursor: pointer;
}
.cart-item div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-item .units .btn {
  width: 20px;
  height: 20px;

  background-color: #ffa500;

  border-radius: 50%;

  font-weight: bold;

  cursor: pointer;
}
.cart-item .units {
  flex: 1;
}
.cart-item .units .number {
  margin: 0 10px;

  font-size: 1.2rem;
}
